<div class="d-none d-lg-block">
    <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="heigth" viewBox="0 0 29.473 29.473" style="margin-right: 10px;">
    <g id="_001-time" data-name="001-time" transform="translate(1.13)">
      <g id="Grupo_197" data-name="Grupo 197" transform="translate(-1.13)">
        <g id="Grupo_196" data-name="Grupo 196">
          <path id="Trazado_413" data-name="Trazado 413" d="M14.737,0A14.737,14.737,0,1,0,29.473,14.737,14.737,14.737,0,0,0,14.737,0Zm0,27.368A12.631,12.631,0,1,1,27.368,14.737,12.631,12.631,0,0,1,14.737,27.368Z" [attr.fill]="fillIcon"/>
        </g>
      </g>
      <g id="Grupo_199" data-name="Grupo 199" transform="translate(7.061 7.061)">
        <g id="Grupo_198" data-name="Grupo 198">
          <path id="Trazado_414" data-name="Trazado 414" d="M94.443,85.333a1.012,1.012,0,0,0-1.012,1.012v7.086H86.345a1.012,1.012,0,1,0,0,2.025h8.1a1.012,1.012,0,0,0,1.012-1.012v-8.1A1.012,1.012,0,0,0,94.443,85.333Z" transform="translate(-85.333 -85.333)" [attr.fill]="fillIcon"/>
        </g>
      </g>
    </g>
  </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="109" height="19" viewBox="0 0 109 19">
    <text id="Menu" transform="translate(0 15)" [attr.fill]="fillFont"   [attr.font-size]="fontSize" font-family="Montserrat-Regular, Montserrat"><tspan x="0" y="0">Sala de espera</tspan></text>
  </svg>

</div>

<div [attr.class]="isActive?'d-lg-none activeIcon':'d-lg-none'">
    <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="heigth" viewBox="0 0 29.473 29.473">
    <g id="_001-time" data-name="001-time" transform="translate(1.13)">
      <g id="Grupo_197" data-name="Grupo 197" transform="translate(-1.13)">
        <g id="Grupo_196" data-name="Grupo 196">
          <path id="Trazado_413" data-name="Trazado 413" d="M14.737,0A14.737,14.737,0,1,0,29.473,14.737,14.737,14.737,0,0,0,14.737,0Zm0,27.368A12.631,12.631,0,1,1,27.368,14.737,12.631,12.631,0,0,1,14.737,27.368Z" [attr.fill]="fillIcon"/>
        </g>
      </g>
      <g id="Grupo_199" data-name="Grupo 199" transform="translate(7.061 7.061)">
        <g id="Grupo_198" data-name="Grupo 198">
          <path id="Trazado_414" data-name="Trazado 414" d="M94.443,85.333a1.012,1.012,0,0,0-1.012,1.012v7.086H86.345a1.012,1.012,0,1,0,0,2.025h8.1a1.012,1.012,0,0,0,1.012-1.012v-8.1A1.012,1.012,0,0,0,94.443,85.333Z" transform="translate(-85.333 -85.333)" [attr.fill]="fillIcon"/>
        </g>
      </g>
    </g>
  </svg>
</div>