.app-hide-root-scroll {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.app-hide-root-scroll::-webkit-scrollbar {
    display: none;
}

.app-hide-root-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.center-content-lg {
    margin: auto;
    width: 40%;
}

.center-content-md {
    margin: auto;
    width: 50%;
}