<div class="d-none d-lg-block">
    <svg id="calendar" xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="heigth" viewBox="0 0 30.926 28.373" style="margin-right: 10px;">
    <rect id="Rectángulo_29" data-name="Rectángulo 29" width="2.5" height="6.292" transform="translate(8.674)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_30" data-name="Rectángulo 30" width="2.5" height="6.292" transform="translate(19.522)" [attr.fill]="fillIcon"/>
    <path id="Trazado_33" data-name="Trazado 33" d="M1110.956,1745.2h-7.218v2.5h4.718v21.151H1082.53V1747.7h4.175v-2.5h-6.675v26.151h30.926Z" transform="translate(-1080.03 -1742.976)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_31" data-name="Rectángulo 31" width="4.34" height="2.5" transform="translate(13.076 2.222)" [attr.fill]="fillIcon"/>
    <path id="Sustracción_5" data-name="Sustracción 5" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(19.812 8.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_6" data-name="Sustracción 6" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(11.956 8.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_9" data-name="Sustracción 9" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(11.956 16.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_7" data-name="Sustracción 7" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(4.101 8.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_8" data-name="Sustracción 8" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(4.101 16.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
  </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="19" viewBox="0 0 60 19">
    <text id="Menu" transform="translate(0 15)"  [attr.fill]="fillFont"   [attr.font-size]="fontSize" font-family="Montserrat-Regular, Montserrat"><tspan x="0" y="0">Agenda</tspan></text>
  </svg>
</div>

<div [attr.class]="isActive?'d-lg-none activeIcon':'d-lg-none'">
    <svg id="calendar" xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="heigth" viewBox="0 0 30.926 28.373">
    <rect id="Rectángulo_29" data-name="Rectángulo 29" width="2.5" height="6.292" transform="translate(8.674)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_30" data-name="Rectángulo 30" width="2.5" height="6.292" transform="translate(19.522)" [attr.fill]="fillIcon"/>
    <path id="Trazado_33" data-name="Trazado 33" d="M1110.956,1745.2h-7.218v2.5h4.718v21.151H1082.53V1747.7h4.175v-2.5h-6.675v26.151h30.926Z" transform="translate(-1080.03 -1742.976)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_31" data-name="Rectángulo 31" width="4.34" height="2.5" transform="translate(13.076 2.222)" [attr.fill]="fillIcon"/>
    <path id="Sustracción_5" data-name="Sustracción 5" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(19.812 8.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_6" data-name="Sustracción 6" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(11.956 8.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_9" data-name="Sustracción 9" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(11.956 16.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_7" data-name="Sustracción 7" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(4.101 8.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
    <path id="Sustracción_8" data-name="Sustracción 8" d="M7.065,7.065H0V0H7.065V7.064ZM2.209,2.209V4.916H4.916V2.209Z" transform="translate(4.101 16.602)" [attr.fill]="fillIcon" stroke="rgba(0,0,0,0)" stroke-width="1"/>
  </svg>
</div>