<div class="d-none d-lg-block" style=" white-space: nowrap;">
    <svg id="files" xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="heigth" viewBox="0 0 28.962 26.314" style="margin-right: 10px;">
    <path id="Trazado_26" data-name="Trazado 26" d="M905.359,2347.677h22.913l3.025-19.154H902.335Zm20.777-2.5H907.5l-2.235-14.154h23.11Z" transform="translate(-902.335 -2321.363)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_17" data-name="Rectángulo 17" width="10.086" height="2.5" transform="translate(9.437 12.79)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_18" data-name="Rectángulo 18" width="23.925" height="2.5" transform="translate(2.518 3.58)" [attr.fill]="fillIcon"/>
    <rect id="Rectángulo_19" data-name="Rectángulo 19" width="18.452" height="2.5" transform="translate(5.255)" [attr.fill]="fillIcon"/>
  </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="163" height="19" viewBox="0 0 163 19">
    <text id="Hist._Medica" data-name="Hist. Medica" transform="translate(0 15)" [attr.fill]="fillFont"   [attr.font-size]="fontSize" font-family="Montserrat-Regular, Montserrat"><tspan x="0" y="0">Historial de Consultas</tspan></text>
  </svg>
</div>




<div [attr.class]="isActive?'d-lg-none activeIcon':'d-lg-none'">
    <svg id="files" xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="heigth" viewBox="0 0 28.962 26.314">
      <path id="Trazado_26" data-name="Trazado 26" d="M905.359,2347.677h22.913l3.025-19.154H902.335Zm20.777-2.5H907.5l-2.235-14.154h23.11Z" transform="translate(-902.335 -2321.363)" [attr.fill]="fillIcon"/>
      <rect id="Rectángulo_17" data-name="Rectángulo 17" width="10.086" height="2.5" transform="translate(9.437 12.79)" [attr.fill]="fillIcon"/>
      <rect id="Rectángulo_18" data-name="Rectángulo 18" width="23.925" height="2.5" transform="translate(2.518 3.58)" [attr.fill]="fillIcon"/>
      <rect id="Rectángulo_19" data-name="Rectángulo 19" width="18.452" height="2.5" transform="translate(5.255)" [attr.fill]="fillIcon"/>
    </svg>
</div>