<style>
    .app-font {
        font-family: Montserrat-Regular, Montserrat;
        font-size: 11;
    }
</style>




<mat-accordion multi>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <svg style="margin-right: 20px;" id="Grupo_4194" data-name="Grupo 4194" xmlns="http://www.w3.org/2000/svg" width="26.707" height="26.85" viewBox="0 0 26.707 26.85">
                  <path id="Trazado_320" data-name="Trazado 320" d="M0,0H26.707V26.85H0Z" fill="none"/>
                  <path id="Trazado_321" data-name="Trazado 321" d="M9.434,5H7.217A2.227,2.227,0,0,0,5,7.238V20.663A2.227,2.227,0,0,0,7.217,22.9H18.3a2.227,2.227,0,0,0,2.217-2.238V7.238A2.227,2.227,0,0,0,18.3,5H16.085" transform="translate(0.594 0.594)" fill="#00d897" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <rect id="Rectángulo_161" data-name="Rectángulo 161" width="7.16" height="4.475" rx="2" transform="translate(9.845 3.58)" fill="#00d897" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Línea_16" data-name="Línea 16" x2="0.011" transform="translate(10.015 13.425)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Línea_17" data-name="Línea 17" x2="2.685" transform="translate(14.32 13.425)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Línea_18" data-name="Línea 18" x2="0.011" transform="translate(10.015 17.9)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Línea_19" data-name="Línea 19" x2="2.685" transform="translate(14.32 17.9)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </svg>


                <svg xmlns="http://www.w3.org/2000/svg" width="149" height="18" viewBox="0 0 149 18">
                  <text id="Agregar_Diagnóstico" data-name="Agregar Diagnóstico" transform="translate(1 14)" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="0" y="0">Agregar Diagnóstico</tspan></text>
                </svg>


            </mat-panel-title>

        </mat-expansion-panel-header>



    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <svg style="margin-right: 20px;" id="Grupo_3296" data-name="Grupo 3296" xmlns="http://www.w3.org/2000/svg" width="26.882" height="26.882" viewBox="0 0 26.882 26.882">
                  <path id="Trazado_335" data-name="Trazado 335" d="M0,0H26.882V26.882H0Z" fill="none"/>
                  <path id="Trazado_336" data-name="Trazado 336" d="M4.674,13.635l8.961-8.961a5.544,5.544,0,0,1,7.841,7.84l-8.961,8.961a5.544,5.544,0,0,1-7.84-7.841" transform="translate(0.366 0.366)" fill="#00d897" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Línea_30" data-name="Línea 30" x2="7.84" y2="7.84" transform="translate(9.521 9.521)" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="169" height="18" viewBox="0 0 169 18">
                  <text id="Agregar_Medicamentos" data-name="Agregar Medicamentos" transform="translate(1 14)" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="0" y="0">Agregar Medicamentos</tspan></text>
                </svg>

            </mat-panel-title>

        </mat-expansion-panel-header>

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label app-font">Nombre del medicamento</label>
                <input value="Apidra 10mg" style="background-color: #E6E6E6;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>


            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label app-font">Indicaciones</label>
                <textarea style="background-color: #E6E6E6;resize: none;" class="form-control" id="exampleFormControlTextarea1" rows="3">
2 veces al dia, despues del desayuno y la cena
              </textarea>
            </div>


            <div class="d-inline app-font">¿Es un tratamiento?</div>
            <div style="margin-left: 50px;" class="d-inline">
                Si<input style="margin-left: 5px;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            </div>
            <div style="margin-left: 10px;" class="d-inline">
                No <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>

            </div>

            <br><br>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label app-font">Duracion</label>
                <input placeholder="indica la duracion del tratamiendo" style="background-color: #E6E6E6;" type="text" class="form-control" id="exampleInputPassword2">
            </div>

        </form>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <svg style="margin-right: 20px;" id="Grupo_3331" data-name="Grupo 3331" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Trazado_426" data-name="Trazado 426" d="M0,0H24V24H0Z" fill="none"/>
                  <ellipse id="Elipse_129" data-name="Elipse 129" cx="8" cy="3" rx="8" ry="3" transform="translate(4 3)" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                  <path id="Trazado_427" data-name="Trazado 427" d="M4,6v6c0,1.657,3.582,3,8,3s8-1.343,8-3V6" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                  <path id="Trazado_428" data-name="Trazado 428" d="M4,12v6c0,1.657,3.582,3,8,3s8-1.343,8-3V12" fill="#00d897" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="152" height="18" viewBox="0 0 152 18">
                  <text id="Agregar_Laboratorios" data-name="Agregar Laboratorios" transform="translate(1 14)" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="0" y="0">Agregar Laboratorios</tspan></text>
                </svg>

            </mat-panel-title>

        </mat-expansion-panel-header>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <svg style="margin-right: 20px;" id="Grupo_3333" data-name="Grupo 3333" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Trazado_432" data-name="Trazado 432" d="M0,0H24V24H0Z" fill="none"/>
                  <path id="Trazado_433" data-name="Trazado 433" d="M19.5,13.572,12,21,4.5,13.572m0,0A5,5,0,1,1,12,7.006a5,5,0,1,1,7.5,6.572" fill="#00d897" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="146" height="18" viewBox="0 0 146 18">
                  <text id="Agregar_a_Programa" data-name="Agregar a Programa" transform="translate(1 14)" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="0" y="0">Agregar a Programa</tspan></text>
                </svg>


            </mat-panel-title>

        </mat-expansion-panel-header>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <svg style="margin-right: 20px;" id="Grupo_3332" data-name="Grupo 3332" xmlns="http://www.w3.org/2000/svg" width="22.713" height="22.713" viewBox="0 0 22.713 22.713">
                  <path id="Trazado_429" data-name="Trazado 429" d="M0,0H22.713V22.713H0Z" fill="none"/>
                  <g id="Rectángulo_856" data-name="Rectángulo 856" transform="translate(1.228 3.485)" fill="#fff" stroke="#000" stroke-width="1">
                    <rect width="17" height="17" rx="4" stroke="none"/>
                    <rect x="0.5" y="0.5" width="16" height="16" rx="3.5" fill="none"/>
                  </g>
                  <g id="Rectángulo_857" data-name="Rectángulo 857" transform="translate(5.228 0.485)" fill="#00d897" stroke="#000" stroke-width="1">
                    <rect width="17" height="17" rx="4" stroke="none"/>
                    <rect x="0.5" y="0.5" width="16" height="16" rx="3.5" fill="none"/>
                  </g>
                  <g id="Elipse_550" data-name="Elipse 550" transform="translate(8.228 3.485)" fill="#00d897" stroke="#000" stroke-width="1">
                    <circle cx="2.5" cy="2.5" r="2.5" stroke="none"/>
                    <circle cx="2.5" cy="2.5" r="2" fill="none"/>
                  </g>
                  <line id="Línea_65" data-name="Línea 65" x2="10" transform="translate(8.728 10.485)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1"/>
                  <line id="Línea_66" data-name="Línea 66" x2="10" transform="translate(8.728 13.485)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1"/>
                </svg>


                <svg xmlns="http://www.w3.org/2000/svg" width="136" height="18" viewBox="0 0 136 18">
                  <text id="Agregar_exámenes" data-name="Agregar exámenes" transform="translate(1 14)" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="0" y="0">Agregar exámenes</tspan></text>
                </svg>



            </mat-panel-title>

        </mat-expansion-panel-header>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <svg style="margin-right: 20px;" id="Grupo_3332" data-name="Grupo 3332" xmlns="http://www.w3.org/2000/svg" width="26.257" height="26.257" viewBox="0 0 26.257 26.257">
                  <path id="Trazado_429" data-name="Trazado 429" d="M0,0H26.257V26.257H0Z" fill="none"/>
                  <path id="Trazado_430" data-name="Trazado 430" d="M9.188,4H12.47l2.188,2.188h5.47a2.188,2.188,0,0,1,2.188,2.188v7.658a2.188,2.188,0,0,1-2.188,2.188H9.188A2.188,2.188,0,0,1,7,16.034V6.188A2.188,2.188,0,0,1,9.188,4" transform="translate(0.658 0.376)" fill="#00d897" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                  <path id="Trazado_431" data-name="Trazado 431" d="M18.317,17.846v2.188a2.188,2.188,0,0,1-2.188,2.188H5.188A2.188,2.188,0,0,1,3,20.034V10.188A2.188,2.188,0,0,1,5.188,8H7.376" transform="translate(0.282 0.752)" fill="none" stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                </svg>



                <svg xmlns="http://www.w3.org/2000/svg" width="138" height="18" viewBox="0 0 138 18">
                  <text id="Compartir_Archivos" data-name="Compartir Archivos" transform="translate(0 14)" font-size="14" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="0" y="0">Compartir Archivos</tspan></text>
                </svg>




            </mat-panel-title>

        </mat-expansion-panel-header>

    </mat-expansion-panel>
</mat-accordion>