<div class="row">

    <div class="col-2 my-1">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref"> <span class=" header-spam" >Pacientes</span></label>
      </div>
   
    <div class="col-10">
        <div class="input-group" style="margin-left: 20px;">
            <div class="input-group-prepend">
              <div class="input-group-text"><img width="30" height="30" src="../../../assets/img/icons/search.png" alt=""></div>
            </div>
            <input id="inlineFormCustomSelectPref" type="text" class="form-control"  placeholder="Buscar Paciente">
          </div>
    </div>
   

  </div>