<svg xmlns="http://www.w3.org/2000/svg" width="98.5" height="15" viewBox="0 0 108.5 15">
    <g id="Grupo_4428" data-name="Grupo 4428" transform="translate(-661.5 -470)">
      <text id="Video_Consulta" data-name="Video Consulta" transform="translate(679 482)" fill="#a6b1c2" font-size="12" font-family="Montserrat-Regular, Montserrat"><tspan x="0" y="0">Video Consulta</tspan></text>
      <g  transform="translate(660 470)">
        <path  d="M15,9.206l3.035-1.517a.667.667,0,0,1,.965.6v4.509a.667.667,0,0,1-.965.6L15,11.873V9.206Z" transform="translate(-5 -2.539)" fill="none" stroke="#a6b1c2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
        <rect  width="8" height="8" rx="2" transform="translate(2 4)" fill="none" stroke="#a6b1c2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
      </g>
    </g>
  </svg>