<div style="float: right;margin-top: 10px;" class="d-lg-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="15" viewBox="0 0 150 15">
    <text id="Tiempo_total:_14:48_min" data-name="Tiempo total: 14:48 min" transform="translate(0 12)" fill="#451afd" font-size="12" font-family="Montserrat-Medium, Montserrat" letter-spacing="0.031em" font-weight="500"><tspan x="0" y="0" fill="#000">Tiempo total:</tspan><tspan y="0" xml:space="preserve" fill="#451afd" font-family="Montserrat-Regular, Montserrat" font-weight="400"> 14:48 min</tspan></text>
  </svg>
    <br><br>
</div>



<div class="bg-white custom-panel overflow-auto d-none d-lg-block">


    <div class="row">


        <div class="col-6">

            <app-mr-left-screen></app-mr-left-screen>

        </div>

        <div class="col-6">

            <app-mr-rigth-screen></app-mr-rigth-screen>
        </div>

    </div>



</div>


<div class="bg-white custom-panel overflow-auto d-lg-none col-12" style="height: 45%;">


    <app-mr-left-screen></app-mr-left-screen>



</div>

<br>

<div class="bg-white custom-panel overflow-auto d-lg-none col-12" style="height: 50%;padding: 10px;">


    <app-mr-rigth-screen></app-mr-rigth-screen>


    <app-mr-buttons></app-mr-buttons>

</div>

<br><br>