<div class="d-none d-lg-block" style="float: right;margin-right: 50px;margin-top: 10px;">

    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="15" viewBox="0 0 150 15">
            <text id="Tiempo_total:_14:48_min" data-name="Tiempo total: 14:48 min" transform="translate(0 12)" fill="#451afd" font-size="12" font-family="Montserrat-Medium, Montserrat" letter-spacing="0.031em" font-weight="500"><tspan x="0" y="0" fill="#000">Tiempo total:</tspan><tspan y="0" xml:space="preserve" fill="#451afd" font-family="Montserrat-Regular, Montserrat" font-weight="400">  {{this.timer}} </tspan></text>
          </svg>
    <br><br> <br><br>
</div>




<div class="app-accordion-scroll d-none d-lg-block">
    <app-accordion-allivia-point></app-accordion-allivia-point>
</div>



<div class="app-accordion-scroll-responsive d-lg-none">
    <app-accordion-allivia-point></app-accordion-allivia-point>
</div>